/* Contoh style CSS */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #4D6BB9;
    color: rgb(11, 11, 11);
  }
  